.prices{
    margin: 15px;
    width: 350px;
    max-width: 100%;;
}

.add{
    margin-top: 10px;
}

.actions{
    padding: 5px 10px;
    border-top: 1px solid black;

    .close{
        cursor: pointer;
    }
}
